<div class="header__left">
  {% comment %}
    {%- if section.settings.menu != blank -%}
      {% render 'header-drawer' %}
    {%- endif -%}
  {% endcomment %}

  <button
    class="header__offcanvas-toggle aside-menu__toggle aside-menu__toggle--open-btn button--unstyled focus-inset {% if section.settings.enable_aside_menu %}aside-menu__enable{% endif %}"
    aria-label="{{ 'sections.header.aside_menu' | t }}"
  >
    {% render 'icon-menu' %}
  </button>
  <button
    class="header__offcanvas-toggle aside-menu__toggle aside-menu__toggle--full-close-btn button--unstyled focus-inset {% if section.settings.enable_aside_menu %}aside-menu__enable{% endif %}"
    aria-label="{{ 'sections.header.aside_menu' | t }}"
   >
    {% render 'icon-close' %}
  </button>
  {%- render 'aside-menu' -%}

  {% render 'header-logo' %}

  {%- if section.settings.enable_search -%}
    <div
      class="header__search header__search_desktop search"
      id="{{ section.id }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <div class="search__content">
        <div class="search__main">
          {%- if settings.predictive_search_enabled -%}
            <predictive-search class="search-modal__form search-modal__form-desktop" data-loading-text="{{ 'accessibility.loading' | t }}">
          {%- endif -%}
          <div class="search__container">
            <form
              action="{{ routes.search_url }}"
              method="get"
              role="search"
              class="search search__form"
            >
              <div class="field">
                <button
                  class="search__button button focus-inset"
                  aria-label="{{ 'general.search.search' | t }}"
                >
                  {% render 'icon-search' %}
                </button>
                <input
                  class="search__input field__input"
                  id="Search-In-Modal-1"
                  type="search"
                  dir="ltr"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder' | t }}"
                  {%- if settings.predictive_search_enabled -%}
                    role="combobox"
                    aria-expanded="false"
                    aria-owns="predictive-search-results-list"
                    aria-controls="predictive-search-results-list"
                    aria-haspopup="listbox"
                    aria-autocomplete="list"
                    autocorrect="off"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false"
                  {%- endif -%}
                >
                <span class="search__input--icon-clear focus-inset" tabindex="0" aria-label="{{ 'accessibility.close' | t }}">
                  {% render 'icon-close' %}
                </span>
                <label class="visually-hidden" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                <input type="hidden" name="options[prefix]" value="last">
              </div>

              {%- if settings.predictive_search_enabled -%}
                <div
                  class="predictive-search predictive-search--header color-background-1"
                  id="predictive-search-{{ section.id }}"
                  tabindex="-1"
                  data-predictive-search
                >
                  <div class="predictive-search__loading-state">
                    {% render 'icon-spinner' %}
                  </div>
                </div>

                <span
                  class="predictive-search-status visually-hidden"
                  role="status"
                  aria-hidden="true"
                ></span>
              {%- endif -%}

              {% render 'search-modal' %}

            </form>
          </div>
          {%- if settings.predictive_search_enabled -%}
            </predictive-search>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

<div class="header__icons">
  {%- if section.settings.menu != blank -%}
    {% assign sale_text = 'sale' | t | downcase %}
    <nav class="header__inline-menu">
      <ul class="list-menu list-menu--inline" role="list">
        {%- for link in section.settings.menu.links limit:4 -%}
          {% liquid
            assign simple_mega_menu = false
            assign mega_menu = false
          %}

          {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
              {% liquid
                assign simple_mega_menu_trigger = block.settings.simple_mega_menu_trigger | handle | strip
                assign mega_menu_trigger = block.settings.mega_menu_trigger | handle | strip

                if link.handle == simple_mega_menu_trigger
                  assign simple_mega_menu = true
                elsif link.handle == mega_menu_trigger
                 assign mega_menu = true
                endif
              %}
            {% endfor %}
          {% endif %}

          {% assign link_title = link.title | escape | downcase %}
          {%- if mega_menu -%}
            <li
              class="list-menu-item list-menu--megamenu"
              {{ shopify_attributes }}
            >
              <a
                href="{{ link.url }}"
                class="header__menu-item list-menu__item link focus-inset{% if link.current and link.url != '/' %} header__active-menu-item{% endif %} {% if link_title == sale_text %}sale-item{% endif %}"
                {% if link.current and link.url != '/' %}
                  aria-current="page"
                {% endif %}
                aria-label="{{ link.title | escape }}"
              >
                <span title="{{ link.title | escape }}">
                  {{ link.title | escape }}
                </span>
              </a>
              <div class="header__mega-menu mega-menu color-background-1">
                {% render 'mega-menu', link: link, blocks: section.blocks %}
              </div>
            </li>
          {%- elsif link.links != blank -%}
            <li
              class="list-menu-item list-menu--submenu {% if simple_mega_menu %} list-menu--simple_mega_menu {% endif %}"
              {{ shopify_attributes }}
            >
              <a
                href="{{ link.url }}"
                class="header__menu-item list-menu__item link focus-inset{% if link.current and link.url != '/' %} header__active-menu-item{% endif %} {% if link_title == sale_text %}sale-item{% endif %}"
                {% if link.current and link.url != '/' %}
                  aria-current="page"
                {% endif %}
                aria-label="{{ link.title | escape }}"
              >
                <span title="{{ link.title | escape }}">
                  {{ link.title | escape }}
                </span>
              </a>
              {% render 'submenu', link: link, simple_mega_menu: simple_mega_menu %}
            </li>
          {%- else -%}
            <li class="list-menu-item">
              <a
                href="{{ link.url }}"
                class="header__menu-item list-menu__item link focus-inset{% if link.current and link.url != '/' %} header__active-menu-item{% endif %} {% if link_title contains sale_text %}sale-item{% endif %}"
                {% if link.current and link.url != '/' %}
                  aria-current="page"
                {% endif %}
                aria-label="{{ link.title | escape }}"
              >
                <span title="{{ link.title | escape }}">
                  {{ link.title | escape }}
                </span>
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
  {%- endif -%}

  <div class="header__icons-wrapper">

    {%- if section.settings.enable_search -%}
      <div class="header__search">
        <div
          class="header__icon header__icon--search link--text header__icon--summary focus-inset modal__toggle"
          aria-haspopup="dialog"
          aria-controls="search-modal"
          aria-expanded="false"
          aria-label="Open search"
          role="button"
          id="search-icon-open"
        >
          {% render 'icon-search' %}
        </div>
      </div>
    {%- endif -%}

    {% render 'color-scheme' %}

    {% render 'header-account' %}

    <div class="{% if request.page_type != 'cart' %}header__cart {% else %} header__cart--page{% endif %}">
      <a
        href="{{ routes.cart_url }}"
        class=" header__icon header__icon--cart link link--text focus-inset"
        id="cart-icon-bubble"
        aria-label="{{ 'general.cart.view' | t }}"
      >
        {% render 'icon-cart' %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart.item_count > 0 -%}
          <div class="cart-count-bubble {% if cart.item_count >= 100 %} cart-count-max {% endif %}">
            {%- if cart.item_count > 0 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">
              {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
            </span>
          </div>
        {%- endif -%}
      </a>
      
    </div>
  </div>
</div>
