{% if simple_mega_menu %}
	<ul
		class="header__submenu simple_mega_menu list-menu list-menu--disclosure motion-reduce color-background-1"
		role="list"
	>
		{%- for childlink in link.links -%}
			<li 
				class="mega-submenu__tab{% if forloop.first and childlink.links != blank %} active{% endif %}"
				data-tab-id="{{ sublink.title | escape | handle }}-{{ forloop.index0 }}"
			>
				{%- if childlink.links == blank -%}
					<a
						href="{{ childlink.url }}"
						class="header__menu-item secondary_text header__submenu-item link focus-inset{% if childlink.current and childlink.url != '/' %} header__active-menu-item{% endif %}"
						{% if childlink.current %}
							aria-current="page"
						{% endif %}
						aria-label="{{ childlink.title | escape }}"
					>
						<span>
							{{ childlink.title | escape }}
						</span>
					</a>
										<ul
						class="header__submenu mega-submenu__submenu{% if forloop.first  %} active{% endif %} simple_megamenu list-menu--disclosure list-menu motion-reduce color-background-1"
						tabindex="0"
						data-tab-id="{{ sublink.title | escape | handle }}-{{ forloop.index0 }}"
					>
					</ul>
				{%- else -%}
					<a
						href="{{ childlink.url }}"
						class="header__menu-item secondary_text header__submenu-item link focus-inset{% if childlink.current and childlink.url != '/' %} header__active-menu-item{% endif %}"
						{% if childlink.current %}
							aria-current="page"
						{% endif %}
						aria-label="{{ childlink.title | escape }}"
					>
						<span>
							{{ childlink.title | escape }}
							{% render 'icon-small-arrow' %}
						</span>
					</a>
					<ul
						class="header__submenu mega-submenu__submenu{% if forloop.first and childlink.links != blank %} active{% endif %} simple_megamenu list-menu--disclosure list-menu motion-reduce color-background-1"
						tabindex="0"
						data-tab-id="{{ sublink.title | escape | handle }}-{{ forloop.index0 }}"
					>
						{%- for grandchildlink in childlink.links -%}
							<li>
								<a
									href="{{ grandchildlink.url }}"
									class="header__menu-item secondary_text header__submenu-item header__submenu-item--grandchild link focus-inset{% if grandchildlink.current and grandchildlink.url != '/' %} header__active-menu-item{% endif %}"
									{% if grandchildlink.current %}
										aria-current="page"
									{% endif %}
									aria-label="{{ grandchildlink.title | escape }}"
								>
									<span>
										{{ grandchildlink.title | escape }}
									</span>
								</a>
							</li>
						{%- endfor -%}
					</ul>
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{% else %}
	<ul
		class="header__submenu list-menu list-menu--disclosure motion-reduce color-background-1"
		role="list"
	>
		{%- for childlink in link.links -%}
			<li>
				{%- if childlink.links == blank -%}
					<a
						href="{{ childlink.url }}"
						class="header__menu-item secondary_text header__submenu-item link focus-inset{% if childlink.current and childlink.url != '/' %} header__active-menu-item{% endif %}"
						{% if childlink.current %}
							aria-current="page"
						{% endif %}
						aria-label="{{ childlink.title | escape }}"
					>
						<span>
							{{ childlink.title | escape }}
						</span>
					</a>
				{%- else -%}
					<a
						href="{{ childlink.url }}"
						class="header__menu-item secondary_text header__submenu-item link focus-inset{% if childlink.current and childlink.url != '/' %} header__active-menu-item{% endif %}"
						{% if childlink.current %}
							aria-current="page"
						{% endif %}
						aria-label="{{ childlink.title | escape }}"
					>
						<span>
							{{ childlink.title | escape }}
							{% render 'icon-small-arrow' %}
						</span>
					</a>
					<ul
						class="header__submenu list-menu--disclosure list-menu motion-reduce color-background-1"
						tabindex="0"
					>
						{%- for grandchildlink in childlink.links -%}
							<li>
								<a
									href="{{ grandchildlink.url }}"
									class="header__menu-item secondary_text header__submenu-item header__submenu-item--grandchild link focus-inset{% if grandchildlink.current and grandchildlink.url != '/' %} header__active-menu-item{% endif %}"
									{% if grandchildlink.current %}
										aria-current="page"
									{% endif %}
									aria-label="{{ grandchildlink.title | escape }}"
								>
									<span>
										{{ grandchildlink.title | escape }}
									</span>
								</a>
							</li>
						{%- endfor -%}
					</ul>
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{% endif %}
