{{ 'section-countdown.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'section-margin' %}
{%- endstyle -%}

{% liquid
  assign is_animated = section.settings.is_animated_heading
  assign timezone = 'now' | date: '%Z' | plus: 0 | append: ''

  if timezone.size > 1
    assign timezone = 'now' | date: '%Z' | divided_by: 100 | times: 3600.0 | plus: 1800
  else
    assign timezone = 'now' | date: '%Z' | minus: 1 | times: 3600.0
  endif

  assign date_merge = section.settings.date_picker | append: '-' | append: section.settings.time_picker | append: ':00'
  assign date_now = 'now' | date: '%s' | minus: 0
  assign date_settings = date_merge | date: '%s' | minus: 0

  if date_now < date_settings
    assign distance = date_settings | minus: date_now
    assign days = distance | divided_by: 3600 | divided_by: 24 | floor | append: ''
    assign hours = distance | modulo: 86400 | divided_by: 3600 | floor | append: ''
    assign minutes = distance | modulo: 3600 | divided_by: 60 | floor | append: ''
    assign seconds = distance | modulo: 60 | floor | append: ''
  else
    assign days = '00'
    assign hours = '00'
    assign minutes = '00'
    assign seconds = '00'
  endif

  assign is_divider = section.settings.icon
  assign media_chosen = false
  if section.settings.desktop_image != blank or section.settings.video != blank
    assign media_chosen = true
  endif

  assign countdown_fontsize = "h0"
  if section.settings.layout == "simple"
    assign countdown_fontsize = "h2 spec_big"

    if section.settings.desktop_image != blank
      assign countdown_fontsize = "h2 spec_big with-media"
    endif
  endif
%}

<countdown-timer
  class="countdown js-countdown countdown--overlay section-{{ section.id }}-padding color-{{ section.settings.heading_color }} js-countdown-{{ section.id }} {{ scheme.settings.color_accent }}"
  data-date="{{ section.settings.date_picker }}"
  data-time="{{ section.settings.time_picker }}"
  data-completed="{{ section.settings.completed_countdown }}" 
  data-enable-mock-timer="{{ section.settings.enable_mock_timer | default: false }}"
	data-enable-mock-picker-day="{{ section.settings.mock_date_picker_day | default: 2 }}"
  data-enable-mock-picker-hours="{{ section.settings.mock_date_picker_hours | default: 3 }}"
{% if section.settings.layout == "overlay" %}data-animation="{{ is_animated }}"{% endif %}
  data-speed="{{ section.settings.heading_animation_speed }}" 
>
  <div class="countdown__container color-{{ section.settings.main_color_scheme }}">
      <div class="countdown__wrapper {{ section.settings.layout }}">
        {% liquid
          if section.settings.desktop_height != 'adapt'
            assign aspect_ratio = section.settings.desktop_height | split: '/'
            assign temp = aspect_ratio[0] | append: '.0'
            assign padding_bottom_desktop = aspect_ratio[1] | divided_by: temp | times: 100 | round: 2
          elsif section.settings.desktop_height == 'adapt'
            if section.settings.desktop_image != blank
              assign padding_bottom_desktop = 1 | divided_by: section.settings.desktop_image.aspect_ratio | times: 100 | round: 2
            else
              assign padding_bottom_desktop = 0
            endif 
          else
            assign padding_bottom_desktop = 0
          endif
        %}

          {% style %}
            #shopify-section-{{ section.id }} .countdown__wrapper.overlay::before {
              content: "";
              display: block;
              padding-bottom: {{ padding_bottom_desktop }}%;
            }

            @media screen and (min-width: 576px) {
              #shopify-section-{{ section.id }} .countdown__wrapper.overlay::before {
                content: "";
                display: block;
                padding-bottom: {{ padding_bottom_desktop }}%;
              }
            }

            #shopify-section-{{ section.id }} .countdown__inner--simple .countdown__main.with-media {
              background-image: url('{{ section.settings.desktop_image | image_url }}');
              background-size: cover;
              background-clip: text;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              -webkit-background-clip: text;

              > *:not(.countdown__label) {
                color: rgba(255, 255, 255, 0);
              }
            }
          {% endstyle %}

          <div class="countdown__inner container countdown__inner--{{ section.settings.layout }}{% if section.settings.full_width %} full_width{% endif %}">
            {%- if section.settings.heading != blank or section.settings.text != blank or section.settings.button_label != blank -%}
              <div class="countdown__text-block
                {% if section.settings.layout == "overlay" %} countdown__text-block--{{ section.settings.content_alignment }}
                {% else %}  countdown__text-block--center{% endif %}" data-animation="{{ section.settings.is_animated_big_heading }}"
                >
                {%- if section.settings.heading_big != blank -%}
                  <h2 class="countdown__heading_big h0 {% if section.settings.is_animated_big_heading %} animated-heading{% endif %}"
                    data-speed="{{ section.settings.big_heading_animation_speed }}" 
                    data-animated_text="{{ section.settings.heading_big }}"
                  >
                    <span
                      class="{% if section.settings.is_animated_big_heading %} animated-heading--inner{% endif %}"
                      {% if section.settings.is_animated_big_heading %}
                        style="opacity: 0;"
                      {% endif %}
                    >
                      {{ section.settings.heading_big }}
                    </span>
                  </h2>
                {%- endif -%}
                {%- if section.settings.heading != blank -%}
                  <h2 class="countdown__heading {{ section.settings.heading_size }}">
                      {{ section.settings.heading }}
                  </h2>
                {%- endif -%}
                {%- if section.settings.text != blank -%}
                  <div class="countdown__text {% if section.settings.layout == "simple" %} body-large {% endif %}">
                    {{ section.settings.text | escape }}
                  </div>
                {%- endif -%}
                {%- if section.settings.button_label -%}
                  {% render 'button',
                    btn_link: section.settings.button_link,
                    btn_label: section.settings.button_label,
                    btn_style: section.settings.button_style,
                    add_classes: 'countdown__button'
                  %}
                {%- endif -%}
              </div>
            {%- endif -%}
            {% if section.settings.date_picker != blank %}
              <div class="countdown__main{% if is_divider %} smaller-gap{% endif %}{% if section.settings.desktop_image != blank %} with-media{% endif %}">
                <div class="countdown__block">
                  <div class="countdown__spacer">
                    <span class="countdown__number {{ countdown_fontsize }} countdown__days">
                    </span>
                  </div>
                  <span class="countdown__label{% if section.settings.layout == "overlay" %} subheading{% else %} h3{% endif %}">
                    {{- 'countdown.days' | t }}
                  </span>
                </div>
                {% if is_divider %}
                  <div class="countdown__divider {{ countdown_fontsize }}">:</div>
                {% endif %}
                <div class="countdown__block">
                  <div class="countdown__spacer">
                    <span class="countdown__number {{ countdown_fontsize }} countdown__hours">
                    </span>
                  </div>
                  <span class="countdown__label{% if section.settings.layout == "overlay" %} subheading{% else %} h3{% endif %}">
                    {{- 'countdown.hours' | t -}}
                  </span>
                </div>
                {% if is_divider %}
                  <div class="countdown__divider {{ countdown_fontsize }}">:</div>
                {% endif %}
                <div class="countdown__block">
                  <div class="countdown__spacer">
                    <span class="countdown__number {{ countdown_fontsize }} countdown__minutes">
                    </span>
                  </div>
                  <span class="countdown__label{% if section.settings.layout == "overlay" %} subheading{% else %} h3{% endif %}">
                    {{- 'countdown.minutes' | t -}}
                  </span>
                </div>
                {% if is_divider %}
                  <div class="countdown__divider {{ countdown_fontsize }}">:</div>
                {% endif %}
                <div class="countdown__block">
                  <div class="countdown__spacer">
                    <span class="countdown__number {{ countdown_fontsize }} countdown__seconds">
                    </span>
                  </div>
                  <span class="countdown__label{% if section.settings.layout == "overlay" %} subheading{% else %} h3{% endif %}">
                    {{- 'countdown.seconds' | t -}}
                  </span>
                </div>
              </div>
            {% endif %}
            {% if section.settings.countdown_heading %}
              <div class="countdown__end">
                <div class="countdown__end-wrapper">
                  <h2 class="h2 countdown__end-text">
                    {{ section.settings.countdown_heading }}
                  </h2>
                </div>
              </div>
            {% endif %}
          </div>


          {% if section.settings.layout == "overlay" %}
            <div class="countdown__bg">
              {% if media_chosen and section.settings.layout == "overlay" %}
                <span
                  class="countdown__bg-overlay"
                  style="background-color: rgba(var(--color-overlay), {{ section.settings.opacity_overlay }})"
                ></span>
              {% endif %}
              {%- if section.settings.desktop_image != blank 
                and section.settings.video == blank
              -%}
                {% liquid
                  assign class = 'countdown__image'
                %}
                {{
                  section.settings.desktop_image
                  | image_url: width: section.settings.desktop_image.width
                  | image_tag:
                    class: class,
                    style: style,
                    loading: 'lazy',
                    widths: '768, 990, 1100, 1360, 1600, 1920, 2200, 2400, 2600'
                }}
              {%- elsif section.settings.video != blank -%}
                  {% liquid
                    assign class = 'countdown__video'
                  %}
                  {{
                    section.settings.video
                    | video_tag:
                      image_size: '1920x',
                      class: 'countdown__image data-alt',
                      autoplay: true,
                      loop: true,
                      controls: false,
                      muted: true
                  }}
              {%- endif -%}
            </div>
          {% endif %}
      </div>
  </div>
</countdown-timer>

<script src="{{ 'countdown.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.countdown.name",
  "tag": "section",
  "class": "countdown-section spaced-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "main_color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "overlay",
          "label": "t:sections.countdown.settings.layout.options_1.label"
        },
        {
          "value": "simple",
          "label": "t:sections.countdown.settings.layout.options_2.label"
        }
      ],
      "default": "simple",
      "label": "t:sections.countdown.settings.layout.label"
    },
    {
			"type": "checkbox",
			"id": "enable_mock_timer",
			"default": false,
			"label": "t:sections.countdown.settings.enable_mock_timer.label",
			"info": "t:sections.countdown.settings.enable_mock_timer.info"
		},
    {
      "type": "text",
      "id": "date_picker",
      "default": "2025-09-01",
      "info": "YYYY-MM-DD",
      "label": "t:sections.countdown.settings.date_picker.label",
      "visible_if": "{{ section.settings.enable_mock_timer == false }}"
    },
    {
      "type": "text",
      "id": "time_picker",
      "default": "00:00",
      "info": "hh:mm",
      "label": "t:sections.countdown.settings.time_picker.label",
      "visible_if": "{{ section.settings.enable_mock_timer == false }}"
    },
    {
			"type": "range",
			"id": "mock_date_picker_day",
			"min": 0,
			"max": 31,
			"step": 1,
			"default": 2,
			"label": "t:sections.countdown.settings.mock_date_picker_day.label",
			"visible_if": "{{ section.settings.enable_mock_timer }}"
		},
		{
			"type": "range",
			"id": "mock_date_picker_hours",
			"min": 1,
			"max": 23,
			"step": 1,
			"default": 3,
			"label": "t:sections.countdown.settings.mock_date_picker_hours.label",
			"visible_if": "{{ section.settings.enable_mock_timer }}"
		},
    {
      "type": "select",
      "id": "completed_countdown",
      "options": [
        {
          "value": "hide_section",
          "label": "t:sections.countdown.settings.completed_countdown.options_1.label"
        },
        {
          "value": "show_text",
          "label": "t:sections.countdown.settings.completed_countdown.options_2.label"
        }
      ],
      "default": "show_text",
      "label": "t:sections.countdown.settings.completed_countdown.label",
      "visible_if": "{{ section.settings.enable_mock_timer == false }}"
    },
    {
      "type": "checkbox",
      "id": "icon",
      "label": "t:sections.countdown.settings.icon.label",
      "default": false
    },
    {
      "type": "inline_richtext",
      "id": "countdown_heading",
      "default": "t:sections.countdown.settings.countdown_heading.default",
      "label": "t:sections.countdown.settings.countdown_heading.label",
      "info": "t:sections.countdown.settings.countdown_heading.info",
      "visible_if": "{{ section.settings.enable_mock_timer == false }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_options.header.content"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:sections.all.image.label",
      "info": "t:sections.countdown.settings.layout.info.label"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.all.video.label",
      "info": "t:sections.countdown.settings.video.info"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.all.image.aspect_ratio.options__1.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.image.aspect_ratio.options__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.image.aspect_ratio.options__3.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.image.aspect_ratio.options__4.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.image.aspect_ratio.options__5.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.image.aspect_ratio.options__6.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.options__7.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.card.image_ratio.label_2",
      "info": "t:sections.countdown.settings.content_alignment.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.content_alignment.label",
      "info": "t:sections.countdown.settings.content_alignment.info"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.countdown.settings.full_width.label",
      "info": "t:sections.countdown.settings.full_width.info"
    },
    {
      "type": "range",
      "id": "opacity_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "t:sections.countdown.settings.opacity_overlay.label",
      "default": 0.3,
      "info": "t:sections.countdown.settings.opacity_overlay.info"
    },
    {
      "type": "inline_richtext",
      "id": "heading_big",
      "default": "t:sections.countdown.settings.heading_big.default",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label__22"
    },
    {
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h1",
			"label": "t:sections.all.heading_size.label"
		},
    {
      "type": "textarea",
      "id": "text",
      "default": "t:sections.countdown.settings.text.default",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.heading_animation.label"
    },
		{
			"type": "checkbox",
			"id": "is_animated_big_heading",
			"default": true,
			"label": "t:sections.image-banner.settings.enable_heading_animation.label"
		},
		{
			"type": "range",
			"id": "big_heading_animation_speed",
			"min": 50,
			"max": 300,
			"step": 50,
			"label": "t:sections.image-banner.settings.heading_animation_speed.label",
			"default": 150
		},
		{
      "type": "header",
      "content": "t:sections.countdown.settings.timer_animation.heading",
      "info": "t:sections.countdown.settings.timer_animation.info"
    },
		{
			"type": "checkbox",
			"id": "is_animated_heading",
			"default": true,
			"label": "t:sections.countdown.settings.timer_animation.enable_timer_animation.label"
		},
		{
			"type": "range",
			"id": "heading_animation_speed",
			"min": 20,
			"max": 300,
			"step": 20,
			"label": "t:sections.image-banner.settings.heading_animation_speed.label",
			"default": 120
		},
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.all.button.button_label.default_2",
      "label": "t:sections.all.button.button_label.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "tertiary",
      "label": "t:sections.all.button.button_style.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.countdown.presets.name"
    }
  ]
}
{% endschema %}
