{{ 'section-slideshow.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-slideshow.js' | asset_url }}" defer="defer"></script>

{% style %}
  {% render 'section-margin' %}
{% endstyle %}

{% liquid
  assign slide_effects = section.settings.slide_effects
  assign slideshow_speed = section.settings.slideshow_speed
  assign autoplay = section.settings.is_autoplay
  assign loop = section.settings.is_loop
  assign stop_autoplay = section.settings.is_hover_stop_autoplay
  assign slideshow_delay = section.settings.slideshow_delay
  assign text_effects = section.settings.text_effects
  assign image_size = section.settings.image_size
  assign is_animated = false

  if text_effects == 'animation'
    assign is_animated = true
  endif

  case image_size
    when 'adapt'
      assign section_height = 0
      assign slide_class = image_size
    when 'large'
      assign section_height = 'calc(100vh - var(--header-height) - var(--announcement-height))'
      assign slide_class = image_size
    else
      assign aspect_ratio = image_size | split: '/'
      assign temp = aspect_ratio[0] | append: '.0'
      assign padding_bottom = aspect_ratio[1] | divided_by: temp | times: 100 | round: 2
      assign slide_class = 'custom-ratio'
  endcase

  if section.settings.header_overlay == true
    assign has_overlay = true
  else
    assign has_overlay = false
  endif

  if section.blocks.size == 1
    assign has_even_paddings = true
  elsif section.settings.show_bullets == false
    assign has_even_paddings = true
  else
    assign has_even_paddings = false
  endif
%}
<div
  class="slideshow {{ slide_class }} {{ slide_effects }}"
  data-id="shopify-section-{{ section.id }}"
  data-autoplay="{{ autoplay }}"
  data-stop-autoplay="{{ stop_autoplay }}"
  data-speed="{{ slideshow_speed }}"
  data-delay="{{ slideshow_delay }}"
  data-effect="{{ slide_effects }}"
  data-loop="{{ loop }}"
  data-text-effects="{{ text_effects }}"
  data-slide-count="{{ section.blocks.size }}"
  {% if has_overlay %}
    data-header-overlay="true"
  {% endif %}
>
  <div class="slideshow__swiper swiper {% if section.settings.show_bullets and section.blocks.size > 1 %} show_bullets {% endif %}">
    <div class="slideshow__wrapper swiper-wrapper">
      {% for block in section.blocks %}
        {% liquid
          assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
          if block.settings.image != blank and block.settings.video == blank
            assign adapt_height = 1 | divided_by: block.settings.image.aspect_ratio | times: 100 | append: '%'
          elsif block.settings.video != blank
            assign adapt_height = 1 | divided_by: block.settings.video.aspect_ratio | times: 100 | append: '%'
          endif
          if image_size == 'adapt'
            assign section_height = adapt_height
          endif
        %}
        <div
          class="slideshow-swiper__slide swiper-slide slideshow-{{ block.settings.layout }}  {% if has_overlay %} color-background-2{% else %} color-{{ block.settings.color_scheme }}{% endif %}"
          data-color-scheme="{% if has_overlay %}color-background-2{% else %}color-{{ block.settings.color_scheme }}{% endif %}"
          {{ block.shopify_attributes }}
        >
          {% style %}
            [data-id="{{ block.id }}"].slideshow-slide {
            	--slide-overlay: rgba(var(--color-overlay), {{ block.settings.overlay_opacity }});
            	--slide-height: {{ section_height }};

            	{% if image_size != 'adapt' and image_size != 'large' %}
            		--padding-bottom: {{ padding_bottom }}%;
            	{% endif %}
            }
          {% endstyle %}
          <div
            class="slideshow-slide focus-inset"
            data-id="{{ block.id }}"
            tabindex="0"
            aria-label="{% if block.settings.heading_2 %}{{block.settings.heading_2 }}{% else %} Slide {{ forloop.index }} {% endif %}"
          >
            <div class="slideshow-slide__container center section-full-screen{% if block.settings.layout == "overlay" %} container{% endif %} {% if block.settings.image == blank and block.settings.video == blank %} {% if block.settings.layout == "overlay" %} section-no-img {% endif %} {% if block.settings.notebook_bg %} notebook-bg{% endif %}{% endif %}">
              <div class="slideshow-slide__block">
                <div
                  class="slideshow-slide__content content-center {% if has_overlay %} slideshow-slide__content--header-overlay{% endif %}{% if has_even_paddings %} slideshow-slide__content--even-paddings{% endif %} {% if block.settings.notebook_bg and block.settings.layout == "simple" %} notebook-bg{% endif %}"
                  data-animation="{{ is_animated }}"
                >
                  <div class="slideshow-slide__content-body">
                    {% if block.settings.first_text != blank %}
                      <div
                        class="slideshow-slide__first__desc"
                        data-swiper-parallax="-700"
                      >
                        {{ block.settings.first_text }}
                      </div>
                    {% endif %}
                    {% if block.settings.heading != blank %}
                      <{{ block.settings.heading_tag }}
                        class="slideshow-slide__title h0 {% if is_animated %} animated-heading{% endif %}"
                        data-speed="{{ section.settings.heading_animation_speed }}"
                        data-animated_text="{{ block.settings.heading }}"
                        data-swiper-parallax="-800"
                      >
                        <span
                          class="{% if is_animated %} animated-heading--inner{% endif %}"
                          {% if is_animated %}
                            style="opacity: 0;"
                          {% endif %}
                        >
                          {{- block.settings.heading -}}
                        </span>
                      </{{ block.settings.heading_tag }}>
                    {% endif %}
                    {% if block.settings.heading_2 != blank %}
                      <{{ block.settings.heading_tag_second }}
                        class="slideshow-slide__title slideshow-slide__second_title {{ block.settings.heading_size }}"
                        data-swiper-parallax="-900"
                      >
                        {{ block.settings.heading_2 }}
                      </{{ block.settings.heading_tag_second }}>
                    {% endif %}
                    {% if block.settings.text != blank %}
                      <div
                        class="slideshow-slide__desc richtext__content"
                        data-swiper-parallax="-1000"
                      >
                        {{ block.settings.text }}
                      </div>
                    {% endif %}
                    {% if block.settings.primary_button_label != blank %}
                      <div
                        class="slideshow-slide__buttons"
                        data-swiper-parallax="-1500"
                      >
                        {% if block.settings.primary_button_label != blank %}
                          {% render 'button',
                            btn_label: block.settings.primary_button_label,
                            btn_link: block.settings.primary_button_link,
                            btn_style: block.settings.button_style
                          %}
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </div>

                {% if block.settings.image != blank or block.settings.video != blank %}
                  {% comment %}
                    <div class="slideshow-slide__img {{ slide_class }} {% if block.settings.layout == "overlay" %} have-overlay{% endif %}">
                    	{% if block.settings.image != blank
                    		and block.settings.video == blank
                    	%}
                    		{% liquid
                    			assign width_adapt_ratio = 1
                    			if block.settings.image.width > block.settings.image.height
                    				assign width_adapt_ratio = 550 | times: block.settings.image.aspect_ratio | round: 2
                    			endif
                    			assign desktop_width = '100vw'

                    			assign fetch_priority = 'auto'
                    			assign image_loading = 'lazy'
                    			if section.index == 1
                    				assign fetch_priority = 'high'
                    				assign image_loading = 'eager'
                    			endif
                    		%}
                    		{% capture sizes %}
                    			(min-width: 1100px) {{desktop_width}},
                    			{% if width_adapt_ratio != 1 %}
                    				{{ width_adapt_ratio }}px
                    			{% else %}
                    				100vw
                    			{% endif %}
                    		{% endcapture %}
                    		{{
                    			block.settings.image
                    			| image_url: width: block.settings.image.width
                    			| image_tag:
                    				loading: image_loading,
                    				width: block.settings.image.width,
                    				height: image_height,
                    				sizes: sizes,
                    				widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                    				fetchpriority: fetch_priority
                    		}}
                    	{% elsif block.settings.video != blank %}
                    		{{
                    			block.settings.video
                    			| video_tag:
                    				class: 'data-alt',
                    				autoplay: true,
                    				loop: true,
                    				controls: false,
                    				muted: true
                    		}}
                    	{% endif %}
                    </div>
                  {% endcomment %}
                  <div class="slideshow-slide__img {{ slide_class }} {% if block.settings.layout == 'overlay' %}have-overlay{% endif %}">
                    {% if block.settings.image != blank and block.settings.video == blank %}
                      {% liquid
                        # --------------------------
                        # LCP and loading settings
                        # --------------------------
                        assign fetch_priority = 'auto'
                        assign image_loading = 'lazy'
                        if section.index == 1
                          assign fetch_priority = 'high'
                          assign image_loading = 'eager'
                        endif

                        # --------------------------
                        # Determine image widths
                        # --------------------------
                        assign width_adapt_ratio = 1
                        assign desktop_width = '100vw'

                        if block.settings.layout != 'overlay'
                          # Partial image view for non-overlay layout
                          if block.settings.image.width > block.settings.image.height
                            assign width_adapt_ratio = 550 | times: block.settings.image.aspect_ratio | round: 0
                          else
                            assign width_adapt_ratio = 550
                          endif
                          assign desktop_width = width_adapt_ratio | append: 'px'
                        else
                          # Full width for overlay layout
                          assign desktop_width = '100vw'
                          assign width_adapt_ratio = 1
                        endif
                      %}

                      {% capture sizes -%}
												(min-width: 1100px) {{ desktop_width }}, {% if width_adapt_ratio != 1 %}{{ width_adapt_ratio }}px{% else %}100vw{% endif %}
											{%- endcapture %}

                      {{
                        block.settings.image
                        | image_url: width: block.settings.image.width
                        | image_tag:
                          loading: image_loading,
                          width: block.settings.image.width,
                          height: image_height,
                          sizes: sizes,
                          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                          fetchpriority: fetch_priority
                      }}
                    {% elsif block.settings.video != blank %}
                      {{
                        block.settings.video
                        | video_tag: class: 'data-alt', autoplay: true, loop: true, controls: false, muted: true
                      }}
                    {% endif %}
                  </div>
                {% endif %}

                {% if block.settings.image == blank and block.settings.video == blank %}
                  {% if block.settings.layout == 'simple' %}
                    <div class="slideshow-slide__img slideshow-slide__no-img {{ slide_class }}">
                      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {% endif %}
                {% endif %}

                {% if block.settings.primary_button_link != blank and block.settings.overlay_link %}
                  <a
                    href="{{ block.settings.primary_button_link }}"
                    class="overlay_link"
                    aria-label="{{ block.settings.primary_button_label | escape }}"
                  >
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if section.blocks.size > 1 %}
      {% if section.settings.show_arrows %}
        <div class="swiper-buttons__wrapper container section-full-screen">
          <div class="swiper-buttons__box">
            <div class="swiper-button swiper-button-prev">
              <div class="svg-embed">{% render 'icon-arrow' %}</div>
            </div>
            <div class="swiper-button swiper-button-next">
              <div class="svg-embed">{% render 'icon-arrow' %}</div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
  {% if section.settings.show_bullets and section.blocks.size > 1 %}
    <div class="swiper-pagination swiper-pagination-fraction"></div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "slideshow-section spaced-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "header_overlay",
      "label": "t:sections.all.header_overlay.label",
      "info": "t:sections.all.header_overlay.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.image.header.content"
    },
    {
      "type": "select",
      "id": "image_size",
      "default": "21/9",
      "label": "t:sections.all.image.aspect_ratio.label",
      "info": "t:sections.all.image.aspect_ratio.info",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.all.image.aspect_ratio.options__1.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.image.aspect_ratio.options__2.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.image.aspect_ratio.options__3.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.image.aspect_ratio.options__4.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.image.aspect_ratio.options__5.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.all.image.aspect_ratio.options__6.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.options__7.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.image.aspect_ratio.options__8.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.slider_options.header.content"
    },
    {
      "type": "checkbox",
      "id": "is_loop",
      "default": true,
      "label": "t:sections.all.slider_options.slider_is_loop.label"
    },
    {
      "type": "checkbox",
      "id": "is_autoplay",
      "default": false,
      "label": "t:sections.all.slider_options.slider_is_autoplay.label"
    },
    {
      "type": "checkbox",
      "id": "is_hover_stop_autoplay",
      "default": true,
      "label": "t:sections.all.slider_options.slider_hover_autoplay_stop.label"
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "default": true,
      "label": "t:sections.all.slider_options.navigation.label"
    },
    {
      "type": "checkbox",
      "id": "show_bullets",
      "default": true,
      "label": "t:sections.all.slider_options.pagination.label"
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "min": 1,
      "max": 6,
      "step": 0.1,
      "default": 1.5,
      "unit": "s",
      "label": "t:sections.all.slider_options.speed.label"
    },
    {
      "type": "range",
      "id": "slideshow_delay",
      "min": 0,
      "max": 8,
      "step": 0.1,
      "default": 3,
      "unit": "s",
      "label": "t:sections.all.slider_options.delay.label"
    },
    {
      "type": "select",
      "id": "slide_effects",
      "options": [
        {
          "value": "slide",
          "label": "t:sections.all.slider_options.effects.options.options__1.label"
        },
        {
          "value": "fade",
          "label": "t:sections.all.slider_options.effects.options.options__2.label"
        },
        {
          "value": "coverflow",
          "label": "t:sections.all.slider_options.effects.options.options__3.label"
        },
        {
          "value": "creative",
          "label": "t:sections.all.slider_options.effects.options.options__4.label"
        }
      ],
      "default": "creative",
      "label": "t:sections.all.slider_options.effects.label"
    },
    {
      "type": "select",
      "id": "text_effects",
      "options": [
        {
          "value": "parallax",
          "label": "t:sections.all.slider_options.effects_text.options.options__1.label"
        },
        {
          "value": "animation",
          "label": "t:sections.all.slider_options.effects_text.options.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.slider_options.effects_text.options.options__3.label"
        }
      ],
      "default": "animation",
      "label": "t:sections.all.slider_options.effects_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.heading_animation.label"
    },
    {
      "type": "range",
      "id": "heading_animation_speed",
      "min": 50,
      "max": 300,
      "step": 50,
      "label": "t:sections.image-banner.settings.heading_animation_speed.label",
      "default": 150
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "slideshow_item",
      "name": "t:sections.slideshow.blocks.name",
      "limit": 8,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "background-2",
          "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "checkbox",
          "id": "notebook_bg",
          "default": false,
          "label": "t:sections.all.notebook_bg.label"
        },
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "overlay",
              "label": "t:sections.slideshow.blocks.settings.layout.options_1.label"
            },
            {
              "value": "simple",
              "label": "t:sections.slideshow.blocks.settings.layout.options_2.label"
            }
          ],
          "default": "overlay",
          "label": "t:sections.countdown.settings.layout.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.all.video.label",
          "info": "t:sections.all.video.info"
        },
        {
          "type": "header",
          "content": "t:sections.all.overlay.header.content"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "default": 0,
          "label": "t:sections.all.overlay.overlay_opacity.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.content_options.header.content"
        },
        {
          "type": "text",
          "id": "first_text",
          "label": "t:sections.all.text.label__2",
          "default": "t:sections.slideshow.blocks.settings.layout.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.all.heading.label",
          "info": "t:sections.all.heading.info",
          "default": "t:sections.slideshow.blocks.settings.heading.default"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.all.heading_tag.options__7.label"
            },
            {
              "value": "p",
              "label": "t:sections.all.heading_tag.options__8.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading.label__tag",
          "info": "t:sections.all.heading_tag.info"
        },
        {
          "type": "text",
          "id": "heading_2",
          "label": "t:sections.all.heading.label__2",
          "default": "t:sections.slideshow.blocks.settings.heading_2.default"
        },
        {
          "type": "select",
          "id": "heading_tag_second",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.all.heading_tag.options__7.label"
            },
            {
              "value": "p",
              "label": "t:sections.all.heading_tag.options__8.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading.label__tag",
          "info": "t:sections.all.heading_tag.info"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label__3"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header_button.content"
        },
        {
          "type": "text",
          "id": "primary_button_label",
          "default": "t:sections.all.button.button_label.default_2",
          "label": "t:sections.all.button.button_label.label",
          "info": "t:sections.all.button.button_label.info"
        },
        {
          "type": "url",
          "id": "primary_button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "tertiary",
              "label": "t:sections.all.button.button_style.options__3.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.all.button.button_style.label"
        },
        {
          "type": "checkbox",
          "id": "overlay_link",
          "default": true,
          "label": "t:sections.all.overlay_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.name",
      "blocks": [
        {
          "type": "slideshow_item",
          "settings": {
            "color_scheme": "background-1",
            "notebook_bg": true,
            "button_style": "tertiary",
            "layout": "simple"
          }
        },
        {
          "type": "slideshow_item"
        },
        {
          "type": "slideshow_item"
        }
      ]
    }
  ]
}
{% endschema %}
